@media screen and (min-width:750px) {

body {
  font-family: 'ubuntu', 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400, 500, 700;
  background-color: $light-grayish-cyan;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: $white;
  border-radius: 20px;
  padding: 20px 30px;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

// main calculator---calculator 
  main.calculator .calc-1 h4 {
    margin-top: 5px;
}

  main.calculator #result {
    margin-top: 10px;
}

// Select-tip
#select-tip .tip-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

// result
#result {
  background-color: $very-dark-cyan;
  border-radius: 15px;
  padding: 20px 30px;
  color: $dark-grayish-cyan-2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#result .per-person .amount-figure,
#result .total-person .total-figure {
  font-size: 35px;
}

#result .resetBtn button {
  color: black;
  background-color: $dark-grayish-cyan-2;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}

#result .resetBtn button:hover {
  color: $dark-grayish-cyan;
  background-color: $light-grayish-cyan;
}


}